<h1>hello from index</h1>
<div class="container-fluid">
  <div class="row justify-content-around">
      <% @rules_list.each do |list| %>
      <%= render 'shared/mini_rules_list_card', list: list %>
      <% end %>
  </div>
  <%= link_to "Create new Game", new_rules_list_path  %>
</div>





