<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("banner_kpui5n.jpg") %>);">
  <div class="container-fluid">
    <h1>Table Tracker. <strong> Keep track </strong> of <strong> all your homebrew rules</strong>!</h1>
    <p>Create, manage and track all of your games rules in one handy place.</p>
    <%= link_to "Sign up", new_user_registration_path , class: "btn btn-gradient"  %>
  </div>
</div>
