<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= list.name %></h5>
    <p class="card-text"><%= list.description %></p>
    <%= link_to "View Rules", rules_list_path(list) %>
  </div>
</div>


