<%= render 'shared/banner' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-10 g-4">
    <div class="col">
      <div class="card mx-auto home-card" id="parchment" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Make your own rules</h5>
          <p class="card-text">Write, edit, and update your homebrew rules as needed.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto home-card" id="parchment" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Share with your players</h5>
          <p class="card-text">Keep your players informed of the latest changes and additions  .</p>
        </div>
      </div>
    </div>
  </div>

</div>
<%= render 'shared/footer' %>
