// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "button";
@import "footer";
@import "cards";
@import "profile";
@import "form";
@import "rrssb";
@import "like_heart";
@import url('http://fonts.cdnfonts.com/css/draconis?styles=86554,86557,86555,86556');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;1,300&family=Roboto+Serif:ital,wght@0,100;0,700;1,100&display=swap');


// color: #E5E4CC light green //  color: #BAC7A7 dark green
//  color #889E81 medium green
//  color #698474  next lightest green
body {
  font-family: 'Draconis', sans-serif;
  background: #d4ded8;
  text-align: center;
  min-height: 700px;
  margin-bottom: 100px;
}
