.red {
  color: red !important;
  margin-left: 0px;
}

.favorite-icon {
  position: absolute;
  right: 200px;

}

.favorite-icon a {
  color: #cccccc !important;
}

.fa-heart {
  font-size: large;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
